@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  font-family: "poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom, #B3E0FF, #0077B6);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.chat-bubble-incoming::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0px 0px;
  border-color: rgb(96 165 250 / var(--tw-bg-opacity)) transparent transparent transparent; /* This color should match your chat bubble's background */
  filter: drop-shadow(0 2px 0px rgba(0, 0, 0, 0.212)); /* This emulates shadow-sm */
  left: 20px; /* Adjust as necessary */
  bottom: 0px; /* Adjust to position the tail correctly */
}

.chat-bubble-outgoing::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0px 0px 20px;
  border-color: rgb(74 222 128 / var(--tw-bg-opacity)) transparent transparent transparent; /* This color should match your chat bubble's background */
  filter: drop-shadow(0 2px 0px rgba(0, 0, 0, 0.212)); /* This emulates shadow-sm */
  right: 20px; /* Adjust as necessary */
  bottom: 0px; /* Adjust to position the tail correctly */
}
